body {
    background-color: #7EBDC2;
    color: #7D53DE;
    margin: 0;
    padding: 0;
    font-family: noto-serif, sans-serif;

}

h1 {
    text-align: center;
    font-family: Montserrat, sans-serif;
}

#logo {
    width: 15%;
    z-index: 10;
    position: absolute;
    margin: 3%;
    border: #ff0000, solid 6px;
    border-radius: 6px;
}

#hero_img {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    border-bottom: solid 6px #ff0000;
}

#hero_snow {
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
    object-fit: cover;
    object-position: center top;
    border-bottom: solid 6px #ff0000;
}

.link_image {
    width: 50%;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: solid 6px #ff0000;
    border-radius: 20px;
    margin-top: 10px;
}

nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;

}

.page_link {
    text-align: center;
    margin: 20px;
}

a {
    text-decoration: none;
    color: #7D53DE;
}